
.card-boxes{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo{
  width: 60%;
  height: auto;
}
.references{
  display: flex;
  justify-content: center;
}
.card-columns{
  padding: 1rem;
}
.references{
  padding: 1rem;
  text-emphasis-color: #e83e8c;
  width: 60%;
  height: auto;
}